################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrackService/bin/Debug/netcoreapp3.1
/TrackService/obj
/.vs/TrackService
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Final- TrackingService/v16/.suo
/TrackService.RethinkDb_Abstractions/bin/Debug/netcoreapp3.1
/TrackService.RethinkDb_Abstractions/obj
/TrackService.RethinkDb_Changefeed/bin/Debug/netcoreapp3.1
/TrackService.RethinkDb_Changefeed/obj
/SignalR-Client/SignalR Client/bin/Debug/netcoreapp3.1
/SignalR-Client/SignalR Client/obj
/SignalR-Client/SignalRChat/bin/Debug/netcoreapp3.1
/SignalR-Client/SignalRChat/obj
/SignalR_ReceiverClient/SignalR_ReceiverClient/bin/Debug/netcoreapp3.1
/SignalR_ReceiverClient/SignalR_ReceiverClient/obj
/SignalR-Client/SignalR Client/.vs/SignalR_SenderClient
/SignalR_ReceiverClient/.vs/SignalR_ReceiverClient/v16/Server/sqlite3
/SignalR-Client/.vs/SignalR Client/v16/Server/sqlite3
/SignalR_ReceiverClient
/SignalR-Receiver/SignalR_ReceiverClient/bin/Debug/netcoreapp3.1
/SignalR-Receiver/SignalR_ReceiverClient/obj
/SignalR-Receiver/.vs/SignalR_ReceiverClient/v16/Server/sqlite3/storage.ide-wal
/SignalR-Receiver/.vs/SignalR_ReceiverClient/v16/Server/sqlite3/storage.ide-shm
/SignalR-Receiver/.vs/SignalR_ReceiverClient/v16/Server/sqlite3/storage.ide
/SignalR-Receiver/.vs/SignalR_ReceiverClient/v16/Server/sqlite3/db.lock
/ReceiverClient/obj
/SenderClient/obj
/ReceiverClient/bin/Debug/netcoreapp3.1
/SenderClient/bin/Debug/netcoreapp3.1
