################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs
/TrackingService/.vs/TrackService/v16/Server/sqlite3
/TrackingService/ReceiverClient/bin/Debug/netcoreapp3.1
/TrackingService/ReceiverClient/obj
/TrackingService/SenderClient/bin/Debug/netcoreapp3.1
/TrackingService/SenderClient/obj
/TrackingService/TrackService/bin/Debug/netcoreapp3.1
/TrackingService/TrackService/obj
/TrackingService/TrackService.RethinkDb_Abstractions/bin/Debug/netcoreapp3.1
/TrackingService/TrackService.RethinkDb_Abstractions/obj
/TrackingService/TrackService.RethinkDb_Changefeed/bin/Debug/netcoreapp3.1
/TrackingService/TrackService.RethinkDb_Changefeed/obj
/ArchiveTrackService/ArchiveTrackService/bin/Debug/netcoreapp3.1
/ArchiveTrackService/ArchiveTrackService/obj
/ArchiveTrackService/.vs/ArchiveTrackService/v16/Server/sqlite3
/TrackingService/.vs/TrackService/v16
/TrackingService/.vs/TrackService/DesignTimeBuild
/ArchiveTrackService/.vs/ArchiveTrackService
/AdvertisementService/.vs/AdvertisementService/v16/Server/sqlite3
/AdvertisementService/AdvertisementService/obj
/AdvertisementService/.vs/AdvertisementService
/ReceiverClient/bin/Debug/netcoreapp3.1
/ReceiverClient/obj
/SenderClient/bin/Debug/netcoreapp3.1
/SenderClient/obj
/TrackService/bin/Debug/netcoreapp3.1
/TrackService/obj
/TrackService.RethinkDb_Abstractions/bin/Debug/netcoreapp3.1
/TrackService.RethinkDb_Abstractions/obj
/TrackService.RethinkDb_Changefeed/bin/Debug/netcoreapp3.1
/TrackService.RethinkDb_Changefeed/obj
