@page

<div class="container">
    <input type="hidden" id="SubscribedFunction" />
    <input type="hidden" id="SubscribedValue" />
    <div class="row">
        <h2>ADMIN</h2>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">VehicleId:</div>
        <div class="col-4"><input type="text" id="VehicleId" /></div>
        <div class="col-2">InstitutionId:</div>
        <div class="col-4"><input type="text" id="InstitutionId" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="SubscribeAll" value="Subscribe All Vehicle for admin" /></ br>
            <input type="button" id="SubscribeInstitutions" value="Subscribe Vehicle For Institution" /></ br>
            <input type="button" id="SubscribeVehicles" value="Subscribe Vehicle" /></ br>
            <input type="button" id="UnsubscribeById" value="Unsubscribe By Id" /></ br>
            <input type="button" id="UnsubscribeAllVehicle" value="Unsubscribe All Vehicle" /></ br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/AdminScreen.js"></script>

